@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("photo.jpeg");
  
    /* Full height */
    height: 50%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 .all{
    margin-top:"10px";
    font-family: 'Major Mono Display', monospace;
 }